{
  "google_client_id": "",
  "google_client_secret": "",
  "google_callback_url": "http://localhost:8080/auth/callback",
  "db_name": "sela",
  "db_user": "postgres",
  "db_password": "",
  "upload_root": "upload",
  "mail": "sela@sela.com",
  "mailer_api": "https://sandbox.api.mailtrap.io/api/send/...",
  "mailer_api_token": ""
}
