@import url("./editor.css");

body > .background {
  display: none;
}

main {
  header {
    padding-top: 1rem;
    margin-bottom: 2rem;

    > img {
      background-color: rgba(0, 0, 0, 0.1);
      height: 100%;
      max-height: 350px;
      width: 100%;
      border-radius: 12px;
      object-fit: contain;
    }

    h1 {
      margin: 1.2rem 0;
      font-weight: 900;
      font-size: clamp(1.5rem, calc(0.8rem + 1.8vw), 2.25rem);
      text-align: center;
    }

    .below-title {
      width: 100%;
      margin-bottom: 1rem;
      font-size: 0.9rem;
      overflow: auto;

      .flex {
        display: flex;
        gap: 1.25rem;
        align-items: center;
        justify-content: center;
        min-width: max-content;
      }

      .flex > div {
        display: flex;
        align-items: center;
        gap: 0.75rem;
      }

      img {
        object-position: center;
        object-fit: cover;
        border-radius: 50%;
        width: 42px;
        height: 42px;
      }
    }

    .actions {
      display: flex;
      gap: 1rem;
      overflow: auto;
      justify-content: center;
    }

    .liked {
      i {
        color: crimson;
        animation: like 0.6s ease-in;
        font-variation-settings: "FILL" 1;
      }
    }
  }

  #excerpt {
    padding: 2rem 1.5rem;
    background-color: color-mix(in srgb, var(--pri), white 85%);
    border-left: 10px solid var(--pri);
    line-height: 1.5rem;
  }

  #content {
    margin: 5rem 0 3rem 0;
  }

  h1 {
    text-align: center;
    margin-bottom: 2rem;
  }

  hr.divider {
    width: 400px;
    max-width: 80%;
    margin: 3rem auto 2rem auto;
    border-color: var(--pri);
    opacity: 0.5;
  }

  #comments {
    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
    }

    .me {
      position: absolute;
      top: 1.5rem;
      left: 1.5rem;

      display: flex;
      gap: 1rem;
      align-items: center;
    }

    textarea {
      padding: 5rem 1.5rem 1.5rem 2rem;
      font-size: 1rem;
    }

    form button {
      display: flex;
      justify-self: end;
    }

    .comments-count {
      margin: 2rem 0 1rem 0;
    }

    ul {
      padding: 0;
      margin-top: 3rem;
      list-style: none;

      li {
        margin-bottom: 5rem;
      }

      .comment {
        margin-bottom: 1rem;
        text-align: justify;
      }

      .bottom-flex {
        display: flex;
        gap: 1rem;
        align-items: center;
      }

      a {
        font-size: 0.85rem;
        font-weight: bold;
        text-decoration: none;
      }

      .date {
        opacity: 0.75;
        font-size: 0.8rem;
      }

      .button {
        padding: 0.15rem;
        background-color: transparent;
        border: 0;
      }
    }

    .not-found {
      padding: 5rem 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      i {
        font-size: 3rem;
      }

      p {
        font-size: 1.25rem;
      }
    }
  }
}

@keyframes like {
  0% {
    translate: 0;
  }

  40% {
    scale: 1.55;
  }

  100% {
    translate: 0;
  }
}
