@import url("./article_list.css");

main {
  section,
  #search {
    margin: 1rem 0 2rem 0;
  }

  #search {
    input {
      padding-left: 4.25rem;
      border-radius: 35px;
      font-size: 1.3rem;
    }

    .input-group i {
      font-size: 2.25rem;
      left: 1.25rem;
    }
  }
}
