@import url("./article_list.css");
@import url("./pagination.css");

main {
  header {
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 1fr 11fr;
    gap: 0.5rem 2rem;

    img {
      object-position: center;
      object-fit: cover;
      border-radius: 50%;
      height: 100px;
      width: 100px;
    }

    .username {
      margin-top: -4px;
      font-weight: bold;
      font-size: 1.1rem;
    }

    .bio {
      margin-bottom: 10px;
      font-size: 0.9rem;
    }

    .stats {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    .stats p {
      display: flex;
      align-items: center;
      gap: 0.25rem;
      font-size: 0.9rem;
      opacity: 0.9;
    }

    .stats i {
      color: var(--sec);
    }

    .actions {
      margin: 0.5rem 0;
      display: flex;
      gap: 1rem;

      i {
        font-size: 1.2rem;
      }

      .button {
        border-width: 2px;
        font-size: 0.9rem;
      }
    }
  }

  .tabs {
    margin: 2rem 0 1rem 0;
    display: flex;
    gap: 1rem;
  }

  #comments {
    ul {
      padding: 0;
      list-style: none;

      li {
        padding: 3rem 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      }

      .top-flex {
        display: flex;
        gap: 1rem;
        align-items: center;
        margin-bottom: 1rem;
      }

      a {
        text-decoration: none;
        font-weight: bold;
        font-size: 1.1rem;
        opacity: 0.85;
      }

      .date {
        opacity: 0.75;
        font-size: 0.85rem;
        font-weight: bold;
      }

      .button {
        padding: 0.15rem;
        background-color: transparent;
        border: 0;
      }

      .comment {
        text-align: justify;
        font-size: 1rem;
      }
    }

    .empty {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      opacity: 0.7;
      height: 250px;
      gap: 1.25rem;

      i {
        font-size: 3.75rem;
      }

      h3 {
        font-style: italic;
      }
    }
  }
}

@media (width < 850px) {
  main {
    header {
      grid-template-columns: 1fr;
    }

    header .actions .button {
      align-items: center;
      justify-content: center;
      flex: 1;
    }
  }
}
